@model IEnumerable<bangazonWebApp.Models.PaymentType>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Payments";
}

@if (SignInManager.IsSignedIn(User))
{


<h2>Payment Types</h2>

    <p>
        <a asp-action="Create">Add Payment Option</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
} else {
    <h2>You must log in to access this page</h2>
}