@*author: Kristen Norris
//purpose: shopping cart view *@
@model bangazonWebApp.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

@if (Model == null)
{
    <h2>Shopping cart</h2>
    <p>You currently do not have a shopping cart open</p>
    <a asp-action="Create" >Start New Order</a>

}
else
{
    <h2>Order @Html.DisplayFor(model => model.Order.Id)</h2>

    <div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Products
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    @if (item.Product.Status)
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    } else
                    {
                        <td>
                            Product No Longer Available
                         </td>

                    }
                </tr>
        }
            </tbody>
        </table>

        <p>@Html.DisplayFor(model => model.OrderSum)</p>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Order.Id">Complete Order</a> |
    </div>

}


