@*author: Kristen Norris
//purpose: shopping cart view *@
@model bangazonWebApp.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Shopping cart</h2>
@if (Model == null)
{
    <p>Your shopping cart is empty</p>

}
else
{
    <h3>Order @Html.DisplayFor(model => model.Order.Id)</h3>

    <div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Products
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductList)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    @if (item.Product.Status)
                     {
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    }
                    else
                    {
                    <td>
                        Product No Longer Available
                    </td>

                    }
                </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>$@Html.DisplayFor(model => model.OrderSum)</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Order.Id">Complete Order</a>
    </div>

}


