@model bangazonWebApp.Models.ProductViewModels.CategorizedProductsViewModel
@{
    ViewData["Title"] = "Product Categories";
}

<h2 class="top-buffer">Category Types</h2>

<hr />

@foreach (var category in Model.CategorizedProducts)
{
    <div class="row">
        <div class="col-md-6">
            <h4>@category.CategoryName (@Html.DisplayFor(modelItem => category.ProductCount))</h4>
        </div>
    </div>

    <div class="row">
        <div class="list-group col-md-4">
            @foreach (var product in category.Products)
            {
                // following will be uncommented when we have a valid route and action for a non-logged in detailed view of products
                <a asp-action="ProductDetails" asp-route-id="@product.Id" class="list-group-item list-group-item-action">@product.Name</a>

                // following is a placeholder
                @*<a href="#" class="list-group-item list-group-item-action">@product.Name</a>*@
            }
        </div>
    </div>
}
